.list-title {
    font-size: 20;
    margin: 10px 20px;
    padding: 10px 0;
    font-family: sans-serif;
}

.loadList {
    margin: 0;
    padding: 0;

    ul {
        margin: 0;
        padding: 0 20px;
        background-color: #fff;

        li:first-child {
            border-top: none
        }

        li {
            border-top: 1px solid #ddd;
            list-style-type: none;
        }
    }
}