.list-title {
    font-size: 20;
    z-index: 10;
    padding: 10px 10px;
    font-family: sans-serif;
}

.loadList {
    padding: 0;
    margin: 0 10px;
    overflow: scroll;
    ul {
        margin: 0;
        padding: 0;
        background-color: transparent;
        border-radius: 5px;
        overflow-x: hidden;
        li:first-child {
            border-top: none;
        }
        li {
           margin-top: 10px;
            list-style-type: none;
            padding:0 10px 0 0;
            background-color: #e1dccd;
        }
    }
}
