.transaction-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.transcation-item-header {
    padding: 5px 10px;
}
.transaction-info {
    display: grid;
    grid-template-columns: 50% auto;
    padding: 5px 30px 5px 10px;
}
.transaction-pool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    >span{
        width: calc(100% - 60px);
        font-size: 16px;
        margin-left: 5px;
        text-transform: capitalize;
    }
}
.transaction-pool-meta {
    margin-top: 10px;
    text-align: center;
}
.transaction-pool-label {
    margin: 10px 0 10px 5px;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden!important;
    width: 100%;
}
