@import '../theme.less';

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0;
}

.home-header {
    background:url(~@/img/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    *{
        color: #fff;
    }
}

.header-account {
    padding: 10px 10px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 76% 20%;
    align-items: center;
    >*{
        display: inline-block;
    }
    >span:first-child{
        margin-left: 5px;
    }
    .switch-account-button {
        display: inline-block;
        margin-left: 20px;
        border-radius: 6px;
        padding: 2px;
        width: 50px;
        font-size: 12px;
    }
}

.header-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.header-info-item {
    margin: 10px auto;
    .header-info-item-value {
        margin: 5px auto;
        text-align: center;
        >span{
            font-size: 16px;
            line-height: 16px;
        }
        >span >img{
            line-height: 16px;
        }
    }

    .header-info-item-title {
        margin: 5px auto;
        font-size: 10px;
        text-align: center;
    }
}


.home-button-container {
    display: grid;
    grid-template-columns: repeat(2, auto);

    .home-button {
        padding: 10px;

        &:first-child {
            border-right: 1px solid #e8eaed;
        }
    }
}
