.operation-container {
    width: 100%;
    min-height: 110%;
    background-color: #0c0c0c;
    //padding-bottom: 30px;
    *{
        color: #fff;
    }
    >.delimiter{
        background-image: url(~@/img/delimeter.png);
        height: 6px;
    }
}

.operation-pool-basic {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        height: 80px;
        width: 80px;
        margin: 20px;
        border-radius: 5px;
        border: 4px solid #0c0c0c;
    }
    ul {
        margin: 0;
        padding: 0;
        width: calc(100% - 120px);
        li {
            list-style-type: none;
            margin: 5px 0;
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 20px;
            a {
                text-decoration: none;
                color:#bd5c9b;
            }
            &:first-child{
                font-size: 16px;
                text-transform: capitalize;
                margin-bottom: 10px;
            }
        }
        li:before {
            font-size: 13px;
            content: attr(data-label);
        }
    }
}

.operation-pool-detail {
    margin: 20px auto;
    display: grid;
    padding: 0 5%;
    grid-template-columns: repeat(3, 33.3%);
    .operation-pool-detail-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .operation-pool-detail-item-value {
            margin: 5px auto;
            font-size: 20px;
            text-align: center;
            overflow: hidden;
            padding: 0 5px;
            >span{
                word-break: break-all;
            }
        }

        .operation-pool-detail-item-title {
            margin: 5px auto;
            font-size: 10px;
            text-align: center;
        }
    }
}

.operation-account {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    .operation-account-info {
        &:first-child {
            border-right: 1px solid #ddd;
        }

        border-top: 1px solid #ddd;
        padding: 10px;

        .operation-account-info-value {
            margin: 5px auto;
            font-size: 20px;
            text-align: center;
        }

        .operation-account-info-title {
            margin: 5px auto;
            font-size: 10px;
            text-align: center;
        }
    }

    .operation-button {
        padding: 10px;

        &:nth-child(3){
            border-right: 1px solid #fff;
        }

    }

}


.operation-form-item {
    display: grid;
    padding: 8px 18px;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 38px;
    .operation-form-label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    *{
        font-size: 14px;
    }
    .operation-form-value {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        input {
            width: 100px;
        }

        >.button {
            border-radius: 4px;
        }
    }
    .delegate-input, .undelegate-input {
        >input{
            color: #0c0c0c;
            width:40%;
        }
    }
}

.operation-form-pool {
    padding: 10px  0;
    >span{
        max-width: calc(100% - 80px);
        text-align: right;
    }
}
.undelegate-form > .operation-form-item:nth-child(2){
    margin-top: 20px;
}
.withdraw-form > .operation-form-item:nth-child(2){
    margin-top: 20px;
}
.delegate-form > .operation-form-item:nth-child(2){
    margin-bottom: 20px;
}
.tx_result_modal {
    width: 75%;
    background-color: #e1dccd!important;
    >.modal-content >p{
        &:nth-child(2){
            font-size: 18px;
            color: #1c1c1c;
        }
        &:nth-child(3){
            font-size: 12px;
            color: #a1a1a1;
        }
        &:nth-child(4){
            margin-bottom: 40px;
            padding: 5px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #fff;
            text-align: center;
            >img{
                width: 16px;
                height: 16px;
                margin-left: 5px;
            }
        }
        &:first-child{
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
    .modal-footer {
        margin: 0!important;
        .modal-footer-button{
            padding: 0!important;
        }
        .button{
            height: 40px;
            line-height: 40px;
            color: #fff;
            border-radius: 0 0 5px 5px;
        }
    }
}
