.operation-container {
    height: 100%;
    width: 100%;
    background-color: #e1dccd;
    >.delimiter{
        background-image: url(~@/img/delimeter.png);
        height: 6px;
    }
}

.operation-pool-basic {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 80px;
        width: 80px;
        margin: 20px;
        border-radius: 5px;
        border: 4px solid #0c0c0c;
    }
    ul {
        margin: 0;
        padding: 0;
        width: calc(100% - 120px);
        li {
            list-style-type: none;
            margin: 5px 0;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 20px;
            a {
                text-decoration: none;
                color:#bd5c9b;
            }
        }
        li:before {
            font-size: 13px;
            content: attr(data-label);
        }
    }
}

.operation-pool-detail {
    margin: 20px auto;
    display: grid;
    padding: 0 5%;
    grid-template-columns: repeat(3, 33.3%);

    .operation-pool-detail-item {
        .operation-pool-detail-item-value {
            margin: 5px auto;
            font-size: 20px;
            text-align: center;
        }

        .operation-pool-detail-item-title {
            margin: 5px auto;
            font-size: 10px;
            text-align: center;
        }
    }
}

.operation-account {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .operation-account-info {
        &:first-child {
            border-right: 1px solid #ddd;
        }

        border-top: 1px solid #ddd;
        padding: 10px;

        .operation-account-info-value {
            margin: 5px auto;
            font-size: 20px;
            text-align: center;
        }

        .operation-account-info-title {
            margin: 5px auto;
            font-size: 10px;
            text-align: center;
        }
    }

    .operation-button {
        padding: 10px;

        &:last-child {
            border-left: 1px solid #ddd;
        }
    }

}


.operation-form-item {
    display: grid;
    padding: 20px 10px;
    grid-template-columns: 40% 60%;
    align-items: center;

    .operation-form-label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .operation-form-value {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        input {
            width: 100px;
        }

        a {
            color: #009AFB;
        }
    }
}

.operation-form-pool {
    padding: 10px 0px;
}
